**.vscode/
build
**/CMakeFiles
**/cmake_install.cmake
**/Makefile
**/CMakeCache.txt
token_project-prefix
token/
**/*.wasm
**/.nyc*
**/.nyc_output/**
node_modules
package-lock.json
old_data
perm_main.json
readiness.txt
**.DS_Store
.DS_Store
telos_test.sh
telos.sh